// Custom Mixins

// full responsive background image for orbit
@mixin full-bg-img-class ($url_path, $file_name, $min_height: 50rem){
  .full-bg-img-#{$file_name} {
    min-height: $min_height;
    overflow:hidden;
    background: url(#{$url_path}#{$file_name}.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
  
// team profiles with pictures
@mixin team($url_path, $name, $members...){
  @each $member in $members{
    .#{$name}.#{$member}{
      background:url(#{$url_path}#{$name}/#{$member}.jpg);
    }
  }
}  