/* Logo
================================ */
  .logo {
    z-index: 99999999; 
    background: rgba(0,0,0,0.4);
    letter-spacing:rem-calc(10);
    position: absolute;
    top: rem-calc(20);
    padding: rem-calc(10) rem-calc(20);  
    a { 
      color:$tertiary-color;
      }
  }

