/* Logo
================================ */
  .logo {
    z-index: 99999999; 
    background: rgba(0,0,0,0.4);
    letter-spacing:0.0625em;
    position: absolute;
    top: 1.25rem;
    padding: 0.625rem 1.25rem;
    a { 
      color:$tertiary-color;
      }
  }

