/* side-nav Overrides
================================ */
 .divider{
    width: 20%;
  }

 .side-nav {

    a:hover{
      color:$tertiary-color;
      font-size: rem-calc(22);
    }
  }

.active{

}
