
/* Social Icons
================================ */

.social-icons{
 margin:5% 2%;
 letter-spacing:2;
 letter-spacing:rem-calc(2);
 font-size: rem-calc(36);
}

.side-nav {
  .social-icons{
    color:$tertiary-color;
  } 
}

